<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork900-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1>Extracting and Visualizing Stock Data</h1>
<h2>Description</h2>

Extracting essential data from a dataset and displaying it is a necessary part of data science; therefore individuals can make correct decisions based on the data. In this assignment, you will extract some stock data, you will then display this data in a graph.

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>Define a Function that Makes a Graph</li>
        <li>Question 1: Use yfinance to Extract Stock Data</li>
        <li>Question 2: Use Webscraping to Extract Tesla Revenue Data</li>
        <li>Question 3: Use yfinance to Extract Stock Data</li>
        <li>Question 4: Use Webscraping to Extract GME Revenue Data</li>
        <li>Question 5: Plot Tesla Stock Graph</li>
        <li>Question 6: Plot GameStop Stock Graph</li>
    </ul>
<p>
    Estimated Time Needed: <strong>30 min</strong></p>
</div>

<hr>

***Note***:- If you are working Locally using anaconda, please uncomment the following code and execute it.

In [ ]:
#!pip install yfinance==0.2.38
#!pip install pandas==2.2.2
#!pip install nbformat

In [1]:
!pip install yfinance
!pip install bs4
!pip install nbformat

Requirement already satisfied: yfinance in c:\users\reshma\anaconda\lib\site-packages (0.2.46)
Requirement already satisfied: peewee>=3.16.2 in c:\users\reshma\anaconda\lib\site-packages (from yfinance) (3.17.7)
Requirement already satisfied: pytz>=2022.5 in c:\users\reshma\anaconda\lib\site-packages (from yfinance) (2024.2)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\reshma\anaconda\lib\site-packages (from yfinance) (4.12.3)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\reshma\anaconda\lib\site-packages (from yfinance) (4.3.6)
Requirement already satisfied: requests>=2.31 in c:\users\reshma\anaconda\lib\site-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\reshma\anaconda\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in c:\users\reshma\anaconda\lib\site-packages (from yfinance) (5.3.0)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\reshma\anaconda\lib\site-packages (from yfinance) (2.4.6)
Requirement already satisfied: html5lib>=1.1 in c:\users\reshma\anaconda\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\reshma\appdata\roaming\python\python38\site-packages (from yfinance) (1.23.5)
Requirement already satisfied: pandas>=1.3.0 in c:\users\reshma\anaconda\lib\site-packages (from yfinance) (2.0.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\reshma\anaconda\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.0.1)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\reshma\anaconda\lib\site-packages (from requests>=2.31->yfinance) (1.25.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\reshma\anaconda\lib\site-packages (from requests>=2.31->yfinance) (2020.6.20)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\reshma\anaconda\lib\site-packages (from requests>=2.31->yfinance) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\reshma\anaconda\lib\site-packages (from requests>=2.31->yfinance) (2.10)
Requirement already satisfied: webencodings in c:\users\reshma\anaconda\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\users\reshma\anaconda\lib\site-packages (from html5lib>=1.1->yfinance) (1.15.0)
Requirement already satisfied: tzdata>=2022.1 in c:\users\reshma\anaconda\lib\site-packages (from pandas>=1.3.0->yfinance) (2024.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\reshma\anaconda\lib\site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: bs4 in c:\users\reshma\anaconda\lib\site-packages (0.0.2)
Requirement already satisfied: beautifulsoup4 in c:\users\reshma\anaconda\lib\site-packages (from bs4) (4.12.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\reshma\anaconda\lib\site-packages (from beautifulsoup4->bs4) (2.0.1)
Requirement already satisfied: nbformat in c:\users\reshma\anaconda\lib\site-packages (5.0.8)
Requirement already satisfied: traitlets>=4.1 in c:\users\reshma\anaconda\lib\site-packages (from nbformat) (5.0.5)
Requirement already satisfied: ipython-genutils in c:\users\reshma\anaconda\lib\site-packages (from nbformat) (0.2.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\reshma\anaconda\lib\site-packages (from nbformat) (3.2.0)
Requirement already satisfied: jupyter-core in c:\users\reshma\anaconda\lib\site-packages (from nbformat) (4.6.3)
Requirement already satisfied: attrs>=17.4.0 in c:\users\reshma\anaconda\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat) (20.3.0)
Requirement already satisfied: setuptools in c:\users\reshma\anaconda\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat) (50.3.1.post20201107)
Requirement already satisfied: six>=1.11.0 in c:\users\reshma\anaconda\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat) (1.15.0)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\reshma\anaconda\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat) (0.17.3)
Requirement already satisfied: pywin32>=1.0; sys_platform == "win32" in c:\users\reshma\anaconda\lib\site-packages (from jupyter-core->nbformat) (227)

In [2]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

C:\Users\Reshma\anaconda\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In Python, you can ignore warnings using the warnings module. You can use the filterwarnings function to filter or ignore specific warning messages or categories.

In [ ]:
import warnings
# Ignore all warnings
warnings.filterwarnings("ignore", category=FutureWarning)

## Define Graphing Function

In this section, we define the function `make_graph`. **You don't have to know how the function works, you should only care about the inputs. It takes a dataframe with stock data (dataframe must contain Date and Close columns), a dataframe with revenue data (dataframe must contain Date and Revenue columns), and the name of the stock.**

In [ ]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021--06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

Use the make_graph function that we’ve already defined. You’ll need to invoke it in questions 5 and 6 to display the graphs and create the dashboard. 
> **Note: You don’t need to redefine the function for plotting graphs anywhere else in this notebook; just use the existing function.**

## Question 1: Use yfinance to Extract Stock Data

Using the `Ticker` function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is Tesla and its ticker symbol is `TSLA`.

In [3]:
tesla = yf.Ticker("TSLA")

Using the ticker object and the function `history` extract stock information and save it in a dataframe named `tesla_data`. Set the `period` parameter to ` "max" ` so we get information for the maximum amount of time.

In [4]:
tesla_data = tesla.history(period="max")

In [5]:
tesla_data.reset_index(inplace=True)
tesla_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

## Question 2: Use Webscraping to Extract Tesla Revenue Data

Use the `requests` library to download the webpage https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm Save the text of the response as a variable named `html_data`.

In [6]:
url = "https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue"
html_data  = requests.get(url).text

Parse the html data using `beautiful_soup` using parser i.e `html5lib` or `html.parser`. Make sure to use the `html_data` with the content parameter as follow `html_data.content` .

In [7]:
soup = BeautifulSoup(html_data,"html5lib")

Using `BeautifulSoup` or the `read_html` function extract the table with `Tesla Revenue` and store it into a dataframe named `tesla_revenue`. The dataframe should have columns `Date` and `Revenue`.

<details><summary>Step-by-step instructions</summary>

```

Here are the step-by-step instructions:

1. Find All Tables: Start by searching for all HTML tables on a webpage using `soup.find_all('table')`.
2. Identify the Relevant Table: then loops through each table. If a table contains the text “Tesla Quarterly Revenue,”, select that table.
3. Initialize a DataFrame: Create an empty Pandas DataFrame called `tesla_revenue` with columns “Date” and “Revenue.”
4. Loop Through Rows: For each row in the relevant table, extract the data from the first and second columns (date and revenue).
5. Clean Revenue Data: Remove dollar signs and commas from the revenue value.
6. Add Rows to DataFrame: Create a new row in the DataFrame with the extracted date and cleaned revenue values.
7. Repeat for All Rows: Continue this process for all rows in the table.

```
</details>

<details><summary>Click here if you need help locating the table</summary>

```
    
Below is the code to isolate the table, you will now need to loop through the rows and columns like in the previous lab
    
soup.find_all("tbody")[1]
    
If you want to use the read_html function the table is located at index 1

We are focusing on quarterly revenue in the lab.
> Note: Instead of using the deprecated pd.append() method, consider using pd.concat([df, pd.DataFrame], ignore_index=True).
```

</details>

In [8]:
tesla_revenue = pd.DataFrame(columns=['Date', 'Revenue'])

for table in soup.find_all('table'):

    if ('Tesla Quarterly Revenue' in table.find('th').text):
        rows = table.find_all('tr')
        
        for row in rows:
            col = row.find_all('td')
            
            if col != []:
                date = col[0].text
                revenue = col[1].text.replace(',','').replace('$','')

                tesla_revenue = tesla_revenue.append({"Date":date, "Revenue":revenue}, ignore_index=True)

Execute the following line to remove the comma and dollar sign from the `Revenue` column.

In [9]:
tesla_revenue["Revenue"] = tesla_revenue['Revenue'].str.replace(',|\$',"", regex=True)

Execute the following lines to remove an null or empty strings in the Revenue column.

In [10]:
tesla_revenue.dropna(inplace=True)

tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]

Display the last 5 row of the `tesla_revenue` dataframe using the `tail` function. Take a screenshot of the results.

In [11]:
tesla_revenue.tail()

Empty DataFrame
Columns: [Date, Revenue]
Index: []

## Question 3: Use yfinance to Extract Stock Data

Using the `Ticker` function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is GameStop and its ticker symbol is `GME`.

In [12]:
GameStop = yf.Ticker("GME")

Using the ticker object and the function `history` extract stock information and save it in a dataframe named `gme_data`. Set the `period` parameter to ` "max" ` so we get information for the maximum amount of time.

In [13]:
gme_data = GameStop.history(period="max")

**Reset the index** using the `reset_index(inplace=True)` function on the gme_data DataFrame and display the first five rows of the `gme_data` dataframe using the `head` function. Take a screenshot of the results and code from the beginning of Question 3 to the results below.

In [14]:
gme_data.reset_index(inplace=True)
gme_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13 00:00:00-05:00,1.620128,1.693350,1.603296,1.691667,76216000,0.0,0.0
1,2002-02-14 00:00:00-05:00,1.712707,1.716073,1.670625,1.683250,11021600,0.0,0.0
2,2002-02-15 00:00:00-05:00,1.683250,1.687458,1.658001,1.674834,8389600,0.0,0.0
3,2002-02-19 00:00:00-05:00,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
4,2002-02-20 00:00:00-05:00,1.615920,1.662210,1.603296,1.662210,6892800,0.0,0.0

## Question 4: Use Webscraping to Extract GME Revenue Data

Use the `requests` library to download the webpage https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html. Save the text of the response as a variable named `html_data_2`.

In [15]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html"

html_data  = requests.get(url).text

Parse the html data using `beautiful_soup` using parser i.e `html5lib` or `html.parser`.

In [16]:
soup = BeautifulSoup(html_data,"html5lib")

Using `BeautifulSoup` or the `read_html` function extract the table with `GameStop Revenue` and store it into a dataframe named `gme_revenue`. The dataframe should have columns `Date` and `Revenue`. Make sure the comma and dollar sign is removed from the `Revenue` column.

> **Note: Use the method similar to what you did in question 2.**

<details><summary>Click here if you need help locating the table</summary>

```
    
Below is the code to isolate the table, you will now need to loop through the rows and columns like in the previous lab
    
soup.find_all("tbody")[1]
    
If you want to use the read_html function the table is located at index 1


```

</details>

In [17]:
gme_revenue = pd.DataFrame(columns=['Date', 'Revenue'])

for table in soup.find_all('table'):

    if ('GameStop Quarterly Revenue' in table.find('th').text):
        rows = table.find_all('tr')
        
        for row in rows:
            col = row.find_all('td')
            
            if col != []:
                date = col[0].text
                revenue = col[1].text.replace(',','').replace('$','')

                gme_revenue = gme_revenue.append({"Date":date, "Revenue":revenue}, ignore_index=True)

AttributeError: 'DataFrame' object has no attribute 'append'

Display the last five rows of the `gme_revenue` dataframe using the `tail` function. Take a screenshot of the results.

In [18]:
gme_revenue.tail()

Empty DataFrame
Columns: [Date, Revenue]
Index: []

## Question 5: Plot Tesla Stock Graph

Use the `make_graph` function to graph the Tesla Stock Data, also provide a title for the graph. Note the graph will only show data upto June 2021.

<details><summary>Hint</summary>

```

You just need to invoke the make_graph function with the required parameter to print the graphs.The structure to call the `make_graph` function is `make_graph(tesla_data, tesla_revenue, 'Tesla')`.

```
    
</details>

In [22]:
make_graph= (tesla_data, tesla_revenue, "Tesla")
make_graph

(                          Date        Open        High         Low  \
 0    2010-06-29 00:00:00-04:00    1.266667    1.666667    1.169333
 1    2010-06-30 00:00:00-04:00    1.719333    2.028000    1.553333
 2    2010-07-01 00:00:00-04:00    1.666667    1.728000    1.351333
 3    2010-07-02 00:00:00-04:00    1.533333    1.540000    1.247333
 4    2010-07-06 00:00:00-04:00    1.333333    1.333333    1.055333
 ...                        ...         ...         ...         ...
 3598 2024-10-15 00:00:00-04:00  220.009995  224.259995  217.119995
 3599 2024-10-16 00:00:00-04:00  221.399994  222.820007  218.929993
 3600 2024-10-17 00:00:00-04:00  221.589996  222.080002  217.899994
 3601 2024-10-18 00:00:00-04:00  220.710007  222.279999  219.229996
 3602 2024-10-21 00:00:00-04:00  218.899994  220.479996  215.729996

            Close     Volume  Dividends  Stock Splits
 0       1.592667  281494500        0.0           0.0
 1       1.588667  257806500        0.0           0.0
 2       1.464000  123282000        0.0           0.0
 3       1.280000   77097000        0.0           0.0
 4       1.074000  103003500        0.0           0.0
 ...          ...        ...        ...           ...
 3598  219.570007   62988800        0.0           0.0
 3599  221.330002   49632800        0.0           0.0
 3600  220.889999   50791800        0.0           0.0
 3601  220.699997   49611900        0.0           0.0
 3602  218.850006   47207700        0.0           0.0

 [3603 rows x 8 columns],
 Empty DataFrame
 Columns: [Date, Revenue]
 Index: [],
 'Tesla')

## Question 6: Plot GameStop Stock Graph

Use the `make_graph` function to graph the GameStop Stock Data, also provide a title for the graph. The structure to call the `make_graph` function is `make_graph(gme_data, gme_revenue, 'GameStop')`. Note the graph will only show data upto June 2021.

<details><summary>Hint</summary>

```

You just need to invoke the make_graph function with the required parameter to print the graphs.The structure to call the `make_graph` function is `make_graph(gme_data, gme_revenue, 'GameStop')`

```
    
</details>

In [24]:
make_graph= (gme_data, gme_revenue, 'GameStop')
make_graph

(                          Date       Open       High        Low      Close  \
 0    2002-02-13 00:00:00-05:00   1.620128   1.693350   1.603296   1.691667
 1    2002-02-14 00:00:00-05:00   1.712707   1.716073   1.670625   1.683250
 2    2002-02-15 00:00:00-05:00   1.683250   1.687458   1.658001   1.674834
 3    2002-02-19 00:00:00-05:00   1.666418   1.666418   1.578047   1.607504
 4    2002-02-20 00:00:00-05:00   1.615920   1.662210   1.603296   1.662210
 ...                        ...        ...        ...        ...        ...
 5707 2024-10-16 00:00:00-04:00  21.129999  21.750000  21.030001  21.660000
 5708 2024-10-17 00:00:00-04:00  21.500000  21.660000  21.230000  21.410000
 5709 2024-10-18 00:00:00-04:00  21.410000  21.610001  20.980000  21.219999
 5710 2024-10-21 00:00:00-04:00  21.100000  21.219999  20.660000  20.700001
 5711 2024-10-22 00:00:00-04:00  20.620001  20.790001  20.430000  20.650000

         Volume  Dividends  Stock Splits
 0     76216000        0.0           0.0
 1     11021600        0.0           0.0
 2      8389600        0.0           0.0
 3      7410400        0.0           0.0
 4      6892800        0.0           0.0
 ...        ...        ...           ...
 5707   4264600        0.0           0.0
 5708   3015300        0.0           0.0
 5709   5302200        0.0           0.0
 5710   3934600        0.0           0.0
 5711   1946737        0.0           0.0

 [5712 rows x 8 columns],
 Empty DataFrame
 Columns: [Date, Revenue]
 Index: [],
 'GameStop')

<h2>About the Authors:</h2> 

<a href="https://www.linkedin.com/in/joseph-s-50398b136/">Joseph Santarcangelo</a> has a PhD in Electrical Engineering, his research focused on using machine learning, signal processing, and computer vision to determine how videos impact human cognition. Joseph has been working for IBM since he completed his PhD.

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>

```toggle ## Change Log
```
```toggle | Date (YYYY-MM-DD) | Version | Changed By    | Change Description        |
```
```toggle | ----------------- | ------- | ------------- | ------------------------- |
```
```toggle | 2022-02-28        | 1.2     | Lakshmi Holla | Changed the URL of GameStop |
```
```toggle | 2020-11-10        | 1.1     | Malika Singla | Deleted the Optional part |
```
```toggle | 2020-08-27        | 1.0     | Malika Singla | Added lab to GitLab       |
```